{% load staticfiles %}

<html>
    <head>
        <title>FNFL Dawgs</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/fnfl.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">FNFL Dawgs</a></h1>
        </div>
        
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
