{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FNFL Dawgs</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
          crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" 
            crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
      </script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
            crossorigin="anonymous">
      </script>
      <link rel="stylesheet" href="{% static 'css/fnfl.css' %}">
      <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

<body>
  <div class="page-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4 col-md-6 text-left">
          <h1>
            <a href="{% url 'welcome' %}">FNFL Dawgs</a>
          </h1>
        </div>
        <div class="col-xs-8 col-md-6 text-right">
{% if user.is_authenticated %}
          <div class="row">
            <div class="col-xs-8 col-md-12 text-right">
              <p class="top-menu-logout">
                {{ user.username }} (<a style="color:white" href="{% url 'logout' %}">log out</a>)
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-8 col-md-6 pull-right">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button"
                data-toggle="dropdown">Menu
                <span class="caret"></span>
              </button>

              <ul class="dropdown-menu">
                <li><a href="{% url 'lineup_new' %}">New Lineup</a></li>
                <li><a href="{% url 'lineup_draft_list' %}">Draft Lineups</a></li>
                <li><a href="{% url 'lineup_list' %}">Published Lineups</a></li>
                <li><a href="{% url 'player_usage' %}">Player Usage</a></li>
              </ul>
              </div>
            </div>
          </div>
{% else %}
          <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
{% endif %}
        </div>
      </div>
    </div>
  </div>
        
  <div class="content container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        {% include 'fnfl/messages.html' %}
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
