{% extends 'fnfl/base.html' %}

{% block content %}
    <div class="post">
        {% if lineup.published_date %}
            <div class="date">
                {{ lineup.published_date }}
            </div>
        {% else %} 
            <a class="btn btn-default" href="{% url 'fnfl.views.lineup_publish' pk=lineup.pk %}">Publish</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'lineup_edit' pk=lineup.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'lineup_remove' pk=lineup.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="btn btn-default" href="{% url 'add_player' pk=lineup.pk %}">Add Player</a>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
        <h1>{{ lineup.week }}</h1>
        {% for p in lineup.player.all %}
            {% if p.position == "QB" %}
                <p>{{p.position}} {{p.name}} {{p.team}}</p>
            {% endif %}
            {% if p.position == "RB" %}
                <p>{{p.position}} {{p.name}} {{p.team}}</p>
            {% endif %}
            {% if p.position == "WR" %}
                <p>{{p.position}} {{p.name}} {{p.team}}</p>
            {% endif %}
            {% if p.position == "TE" %}
                <p>{{p.position}} {{p.name}} {{p.team}}</p>
            {% endif %}
            {% if p.position == "K" %}
                <p>{{p.position}} {{p.name}} {{p.team}}</p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
