{% extends 'fnfl/base.html' %}

{% block content %}
    {% for lineup in lineups %}
        <div class="lineup">
            <p class="date">created: {{ lineup.created_date|date:'d-m-Y' }}</p>
            <h1><a href="{% url 'fnfl.views.lineup_detail' pk=lineup.pk %}">{{ lineup.week }}</a></h1>
        {% for p in lineup.player.all %}
            {% if p.position == "QB" %}
                <p>{{p.position}} {{p.name}} {{p.team}}</p>
            {% endif %}
            {% if p.position == "RB" %}
                <p>{{p.position}} {{p.name}} {{p.team}}</p>
            {% endif %}
            {% if p.position == "WR" %}
                <p>{{p.position}} {{p.name}} {{p.team}}</p>
            {% endif %}
            {% if p.position == "TE" %}
                <p>{{p.position}} {{p.name}} {{p.team}}</p>
            {% endif %}
            {% if p.position == "K" %}
                <p>{{p.position}} {{p.name}} {{p.team}}</p>
            {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
