{% extends 'fnfl/base.html' %}

{% block content %}
    <div class="post">
        {% if lineup.published_date %}
            <div class="date">
                {{ lineup.published_date }}
            </div>
        {% else %} 
            <a class="btn btn-default" href="{% url 'lineup_publish' pk=lineup.pk %}">Publish</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'lineup_edit' pk=lineup.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'lineup_remove' pk=lineup.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="btn btn-default" href="{% url 'add_player' pk=lineup.pk %}">Add Player</a>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
        <h1>{{ lineup.week }}</h1>

        {% if qb != '' %}
            <a href="{% url 'add_score' pk=lineup.pk player_pk=qb.pk %}">
                <p>{{qb.position}} {{qb.name}} {{qb.team}}</p>
            </a>
                <p>  Score - {{qb_score}}</p>
        {% endif %}

        {% if rb1 != '' %}        
            <a href="{% url 'add_score' pk=lineup.pk player_pk=rb1.pk %}">
                <p>{{rb1.position}} {{rb1.name}} {{rb1.team}}</p>
            </a>
                <p>  Score - {{rb1_score}}</p>
        {% endif %}

        {% if rb2 != '' %}
            <a href="{% url 'add_score' pk=lineup.pk player_pk=rb2.pk %}">
                <p>{{rb2.position}} {{rb2.name}} {{rb2.team}}</p>
            </a>
                <p>  Score - {{rb2_score}}</p>
        {% endif %}

        {% if wr1 != '' %}
            <a href="{% url 'add_score' pk=lineup.pk player_pk=wr1.pk %}">
                <p>{{wr1.position}} {{wr1.name}} {{wr1.team}}</p>
            </a>
                <p>  Score - {{wr1_score}}</p>
        {% endif %}

        {% if wr2 != '' %}
            <a href="{% url 'add_score' pk=lineup.pk player_pk=wr2.pk %}">
                <p>{{wr2.position}} {{wr2.name}} {{wr2.team}}</p>
            </a>
                <p>  Score - {{wr2_score}}</p>
        {% endif %}

        {% if te != '' %}
            <a href="{% url 'add_score' pk=lineup.pk player_pk=te.pk %}">
                <p>{{te.position}} {{te.name}} {{te.team}}</p>
            </a>
                <p>  Score - {{te_score}}</p>
        {% endif %}

        {% if k != '' %}
            <a href="{% url 'add_score' pk=lineup.pk player_pk=k.pk %}">
                <p>{{k.position}} {{k.name}} {{k.team}}</p>
            </a>
                <p>  Score - {{k_score}}</p>
        {% endif %}

            <p>Total Score: {{total_week_score}}</p>
    </div>
{% endblock %}
